/* *{
    outline: 1px solid red
    } */
.hero-image {
    background-image: url(https://images.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c82fb4e7054d9fb4211938bf9431ccdf&auto=format&fit=crop&w=1352&q=80);
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /* background: linear-gradient(rgba(0, 0, 0, 0.096), rgba(155, 131, 131, 0.904)); */
        height:100%;
}

h1{
    color: black;
    font-family: sans-serif
}
p{
    color: #3b3b3b;
    font-family: sans-serif

}
h2{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 5em;
}
.icon{
    margin-top: 5em;
}
i {
color: #3b3b3b;
}
h6{
    font-size: 60px;
    margin-top: 20;
}
bgblue{
background-color: aqua;
}